body {
	padding-top: 49px;
	font-family: Oswald;
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alfa Slab One';
}

.navbar-muscle {
	background-color: #2d1650;
}

.navbar-muscle .nav > li > a {
	color: #fff;
	font-family: 'Alfa Slab One';
}

.navbar-muscle .nav > li > a:hover,
.navbar-muscle .nav > li > a:focus {
	background-color: #120920;
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand > img {
	height: 100%;
}

section.splash {
	padding: 5px 0;
	background-image: url(../img/fond_splash.jpg);
	background-size: cover;
	background-attachment: fixed;
	min-height: 80vh;
}

section.splash > h2 {
	font-size: 4em;
	width: 80vw;
	margin: 50px auto;
	color: #fff;
}

section.splash > h2 > img {
	width: 100%;
	margin-top: 25px;
}

section#avantages {
	padding: 60px 0;
}

.feature {
	text-align: center;
	margin-bottom: 50px;
}

.feature-icon {
	width: 7vw;
	margin: 5px auto;
	border-radius: 50%;
	height: 7vw;
	background-color: #2d1650;
	padding-top: 17px;
}

.feature-icon i.fa {
	font-size: 4em;
	color: #fff;
}

section.talks {
	padding: 25px;
	background-image: url(../img/fond_talks.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
}

section.talks h4 {
	font-size: 3em;
	margin: 2em 0;
}

section.talks ul {
	list-style: none;
	padding-left: 0; 
}

.talk {
	width: 60vw;
	padding: 2vw 4vh;
	margin: 10px auto;
	font-size: 1.6em;
	font-style: italic;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(45, 45, 45, .6);
}

.talk-photo {
	border-radius: 50%;
	width: 90px;
}

.talk-photo-right {
	order: 8;
}


footer {
  padding: 15px;
}